<!-- app.component.html -->
<div class="navbar">
  <img src="assets/Logo.png" alt="Logo" class="logo">
  <div class="nav-items">
    <a href="#" class="nav-item">Sobre nosotros</a>
    <a href="#" class="nav-item">Enviar Dinero</a>
    <div class="dropdown">
      <button class="dropbtn">
        &#9776;
      </button>
      <div class="dropdown-content">
        <a href="#">Cartera</a>
        <a href="#">Perfil</a>
        <a href="#">Registro de transacciones</a>
      </div>
    </div>
    <a href="#" class="nav-item register">Registrarse</a>
    <button class="login-button">Iniciar Sesión</button>
  </div>
</div>

<div class='container'>
  <router-outlet></router-outlet>
</div>
