/* send-money.component.css */
.send-money-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 300px;
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  
  .amount-inputs {
    display: flex;
    gap: 10px;
  }
  
  .amount-inputs input {
    width: 48%;
  }
  
  .amount-hint {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #888;
  }
  
  .send-button {
    background-color: #1A3540;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .send-button:hover {
    background-color: #16303B;
  }
  
  .send-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .dropdown-list {
    position: absolute;
    top: 55px; /* Adjust based on input height */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
  }
  
  .dropdown-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #eee;
  }
  