.perfil-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.perfil-field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.perfil-field label {
  flex: 0 0 150px;
  font-weight: bold;
}

  .perfil-field span {
    flex: 1;
  }

.perfil-field input {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.perfil-field.editable input {
  border-color: #007bff;
}

.perfil-field button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.perfil-field button:hover {
  background-color: #0056b3;
}

.btn-save {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-save:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-save:hover:not(:disabled) {
  background-color: #218838;
}


.action-button {
  background-color: #1EA4D9;
  color: #FFFFFF; /* Color blanco */
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Fuente Arial */
  font-weight: bold; /* Texto en negrita */
}

  .action-button:hover {
    background-color: #1e9bd9;
  }
