<cabecera></cabecera>
<div class="tw-max-w-4xl tw-mx-auto tw-font-[sans-serif] tw-p-6" *ngIf="!isLoading">
  <div class="tw-text-center tw-mb-8">
    <h1 class="tw-text-gray-800 tw-text-2xl tw-font-semibold">Perfil del Usuario</h1>
  </div>

  <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
    <!-- Mostrar alerta de error general si existe -->
    <div *ngIf="errorMessage" class="tw-alert tw-alert-error">
      {{ errorMessage }}
    </div>

    <div class="tw-grid sm:tw-grid-cols-2 tw-gap-4">
      <!-- Nombre -->
      <div class="perfil-field">
        <label for="nombre" class="tw-text-gray-800 tw-text-sm tw-font-bold">Nombre</label>
        <div class="perfil-box">{{ cliente.nombre }}</div>
      </div>

      <!-- Apellido -->
      <div class="perfil-field">
        <label for="apellido" class="tw-text-gray-800 tw-text-sm tw-font-bold">Apellido</label>
        <div class="perfil-box">{{ cliente.apellido }}</div>
      </div>

      <!-- Correo -->
      <div class="perfil-field">
        <label for="email" class="tw-text-gray-800 tw-text-sm tw-font-bold">Correo</label>
        <div class="perfil-box">{{ cliente.email }}</div>
      </div>

      <!-- Fecha de Nacimiento -->
      <div class="perfil-field">
        <label for="fecha" class="tw-text-gray-800 tw-text-sm tw-font-bold">Fecha de Nacimiento</label>
        <div class="perfil-box">{{ cliente.fechaNacimiento | date: 'dd/MM/yyyy' }}</div>
      </div>

      <!-- País (Dropdown) -->
      <div class="perfil-field">
        <label for="pais" class="tw-text-gray-800 tw-text-sm tw-font-bold">País</label>
        <select id="pais" formControlName="PaisNombre" class="tw-bg-gray-100 tw-w-full tw-text-gray-800 tw-text-sm tw-px-4 tw-py-2 tw-rounded-md tw-border tw-border-gray-300">
          <option *ngFor="let pais of paises" [value]="pais.nombre">{{ pais.nombre }}</option>
        </select>
      </div>

      <!-- Empleo (Dropdown) -->
      <div class="perfil-field">
        <label for="empleo" class="tw-text-gray-800 tw-text-sm tw-font-bold">Empleo</label>
        <select id="empleo" formControlName="Empleo" class="tw-bg-gray-100 tw-w-full tw-text-gray-800 tw-text-sm tw-px-4 tw-py-2 tw-rounded-md tw-border tw-border-gray-300">
          <option *ngFor="let empleo of empleos" [value]="empleo">{{ empleo }}</option>
        </select>
      </div>
    </div>

    <div class="tw-flex tw-justify-center tw-mt-8">
      <button type="submit" class="action-button">Modificar datos</button>
    </div>
  </form>
</div>


<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="invalidUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="invalidUserModalLabel">Cambio de datos en el perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Cambios realizados correctamente.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
