<cabecera></cabecera>
<div class="tw-container tw-max-w-screen-lg tw-mx-auto tw-p-4">
  <div class="tw-grid tw-grid-cols-1 tw-gap-4 md:tw-grid-cols-2 lg:tw-grid-cols-3 xl:tw-grid-cols-4">
    <div class="tw-col-span-1">
      <h2 class="tw-text-xl tw-font-bold tw-text-gray-800">Mis contactos</h2>
    </div>
    <div class="tw-col-span-1">
      <input type="text" [(ngModel)]="nombreNuevoContacto" class="tw-w-full tw-py-2 tw-pl-10 tw-text-sm tw-text-gray-700 tw-placeholder-gray-400 tw-bg-white tw-border tw-border-gray-300 tw-rounded-md focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-blue-600 focus:tw-border-transparent" placeholder="Buscar...">
    </div>
    <div class="tw-col-span-1">
      <button (click)="aniadirContacto()" class="tw-bg-green-500 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded tw-no-underline hover:tw-bg-green-700 tw-duration-300 tw-ease-in-out">Añadir Contacto</button>
    </div>
  </div>

  <table class="tw-min-w-full tw-divide-y tw-divide-gray-200">
    <thead class="tw-bg-gray-50">
      <tr>
        <th scope="col" class="tw-px-6 tw-py-3 tw-text-left tw-text-xs tw-font-medium tw-text-gray-500 tw-uppercase tw-tracking-wider">Nombre</th>
        <th scope="col" class="tw-px-6 tw-py-3 tw-text-left tw-text-xs tw-font-medium tw-text-gray-500 tw-uppercase tw-tracking-wider">País</th>
        <th scope="col" class="tw-relative tw-px-6 tw-py-3">Acciones</th>
      </tr>
    </thead>
    <tbody class="tw-bg-white tw-divide-y tw-divide-gray-200">
      <tr *ngFor="let contact of contacts">
        <td class="tw-px-6 tw-py-4 tw-whitespace-nowrap">{{ contact.nombreUsuarioContacto }}</td>
        <td class="tw-px-6 tw-py-4 tw-whitespace-nowrap">{{ contact.pais }}</td>
        <td class="tw-px-6 tw-py-4 tw-whitespace-nowrap">
          <button class="tw-text-red-600 hover:tw-text-red-900" (click)="deleteContact(contact.nombreUsuarioContacto)">Eliminar Contacto</button>
          <button class="tw-bg-blue-500 tw-text-white tw-rounded-md hover:tw-bg-blue-700 tw-ml-2"
                  (click)="enviarDinero(contact)">
            Enviar Dinero
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  
</div>
