.text-center {
  text-align: center;
}

.table {
  width: 100%;
}

.container {
  padding: 20px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gap-3 {
  gap: 1rem;
}

.ms-auto {
  margin-left: auto;
}


.send-button {
  background-color: #1EA4D9;
  color: #FFFFFF; /* Color blanco */
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Fuente Arial */
  font-weight: bold; /* Texto en negrita */
}

  .send-button:hover {
    background-color: #1e9bd9;
  }

.container {
  display: flex;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
  gap: 1rem; /* Espacio entre los elementos */
}

.item {
  flex: 0 1 auto; /* Ajusta el tamaño de los elementos según su contenido */
}

.btn-close {
  background-color: red; /* Cambia esto al color que prefieras */
}

  .btn-close:hover {
    background-color: darkred; /* Cambia esto al color que prefieras */
  }

  .btn-close:focus {
    box-shadow: none;
  }

.btn-secondary {
  background-color: #28c45c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}



