<cabecera></cabecera>
<div class="tw-container tw-max-w-screen-lg tw-mx-auto tw-p-4">
  <h2 class="tw-text-3xl tw-font-bold tw-text-gray-800 tw-text-center">Mis contactos</h2>
  <div class="container d-flex align-items-center">
    <div class="item">
      <input type="text" [(ngModel)]="nombreNuevoContacto" class="tw-w-full tw-py-2 tw-pl-10 tw-text-sm tw-text-gray-700 tw-placeholder-gray-400 tw-bg-white tw-border tw-border-gray-300 tw-rounded-md focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-blue-600 focus:tw-border-transparent" placeholder="Buscar...">
    </div>
    <div class="item">
      <button (click)="aniadirContacto()" [disabled]="!nombreNuevoContacto" class="send-button btn btn-primary">Añadir Contacto</button>
    </div>
  </div>
  <table class="tw-min-w-full tw-divide-y tw-divide-gray-200 tw-my-4">
    <thead class="tw-bg-gray-50">
      <tr>
        <th scope="col" class="tw-px-6 tw-py-3 tw-text-left tw-text-xs tw-font-medium tw-text-gray-500 tw-uppercase tw-tracking-wider">Nombre</th>
        <th scope="col" class="tw-px-6 tw-py-3 tw-text-left tw-text-xs tw-font-medium tw-text-gray-500 tw-uppercase tw-tracking-wider">País</th>
        <th scope="col" class="tw-px-6 tw-py-3 tw-text-left tw-text-xs tw-font-medium tw-text-gray-500 tw-uppercase tw-tracking-wider">Acciones</th>
      </tr>
    </thead>
    <tbody class="tw-bg-white tw-divide-y tw-divide-gray-200">
      <tr *ngFor="let contact of contacts">
        <td class="tw-px-6 tw-py-4 tw-whitespace-nowrap">{{ contact.nombreUsuarioContacto }}</td>
        <td class="tw-px-6 tw-py-4 tw-whitespace-nowrap">{{ contact.pais }}</td>
        <td class="tw-px-6 tw-py-4 tw-whitespace-nowrap">
          <button class="tw-text-red-600 hover:tw-text-red-900 tw-mr-2" (click)="deleteContact(contact.nombreUsuarioContacto)">
            <i class="fas fa-trash-alt"></i>
          </button>
          <button class="tw-text-blue-600 hover:tw-text-blue-900" (click)="enviarDinero(contact)">
            <i class="fas fa-paper-plane"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
