<!-- send-money.component.html -->
<div class="send-money-container">
  <h2>Enviar Dinero</h2>
  <form (ngSubmit)="sendMoney()">
    <div class="form-group">
      <label for="recipient">Elige destinatario:</label>
      <input type="text" id="recipient" class="form-control" [(ngModel)]="listFilter" name="recipientFilter">
      <ul class="dropdown-list" *ngIf="filteredClientes.length > 0">
        <li *ngFor="let cliente of filteredClientes" (click)="selectCliente(cliente.usuario)">{{ cliente.usuario }}</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="amount">Cantidad:</label>
      <div class="amount-input-container">
        <input type="text" id="amount" class="form-control amount-input" [(ngModel)]="amount" name="amount" placeholder="0,5" (input)="validateAmount($event)">
        <div class="currency-display">EUR</div>
      </div>
      <small class="amount-hint">La cantidad mínima a enviar es 0,5</small>
    </div>
    <button type="submit" class="send-button" [disabled]="!isValidAmount()">Enviar Dinero</button>
  </form>
</div>
