/* send-money.component.css */
.page-title {
  text-align: center; /* Centrando el título de la página */
  margin-top: 30px;
  margin-bottom: 30px; /* Separación del título respecto al contenido */
  font-size: 24px; /* Tamaño del título */
  font-weight: bold; /* Resaltando el título */
}

.send-money-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px; /* Mayor separación entre el formulario y el resumen */
  margin-left: 40px; /* Márgenes a la izquierda */
  margin-right: 40px; /* Márgenes a la derecha */
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.full-width {
  width: 100%;
}

#recipient {
  width: 100%; /* La parte del destinatario abarca toda la línea de Cantidades */
}

.amounts-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  width: 48%;
}

.amount-input-container {
  display: flex;
  align-items: center; /* Alinea el ISO de las divisas con el cuadro de texto */
  gap: 10px;
}

.amount-input {
  flex-grow: 1;
}

.currency-display {
  width: 70px;
  background-color: #e0e0e0; /* Fondo del cuadro de divisas */
  border-radius: 5px; /* Bordes redondeados del cuadro de divisas */
  text-align: center;
  line-height: 35px; /* Alineación vertical */
  height: 35px;
}

.resumen-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  font-size: 14px; /* Tamaño de fuente más pequeño para estilo de ticket */
  font-family: 'Courier New', Courier, monospace; /* Fuente tipo ticket */
  border: 1px dashed #000; /* Borde estilo ticket */
}

  .resumen-container h3 {
    margin-bottom: 15px;
    text-align: center; /* Centrar el título del resumen */
    font-family: 'Courier New', Courier, monospace; /* Fuente tipo ticket */
    font-size: 16px; /* Tamaño del título en el ticket */
  }

.send-button {
  background-color: #1EA4D9;
  color: #FFFFFF; /* Color blanco */
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Fuente Arial */
  font-weight: bold; /* Texto en negrita */
}

  .send-button:hover {
    background-color: #1e9bd9;
  }

/* Estilo personalizado para el botón de cerrar */
.btn-close {
  background-color: red; /* Cambia esto al color que prefieras */
}

.btn-close:hover {
  background-color: darkred; /* Cambia esto al color que prefieras */
}

.btn-close:focus {
  box-shadow: none;
}

.btn-secondary {
  background-color: #84BF49;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}
