<cabecera></cabecera>
<!--send-money.component.html-->
<h2 class="page-title">Enviar Dinero</h2>

<div class="send-money-container">
  <form (ngSubmit)="sendMoney()">
    <div class="form-group">
      <label for="recipent">Elige destinatario:</label>
      <input type="text" id="recipent" class="form-control full-width" [(ngModel)]="nombreClienteRecibe" name="recipientFilter" (keydown)="prueba()">
    </div>

    <div class="amounts-container">
      <div class="form-group">
        <label for="cantidadEnviada">Cantidad Enviada:</label>
        <div class="amount-input-container">
          <input type="text" id="cantidadEnviada" class="form-control amount-input" [(ngModel)]="cantidadEnviada" name="cantidadEnviada" placeholder="0,5" (input)="validateAmount($event, true)">
          <div class="currency-display">{{currencyEnviada}}</div>
        </div>
        <small class="amount-hint">La cantidad mínima a enviar es 0,5</small>
      </div>

      <div class="form-group">
        <label for="cantidadRecibida">El usuario recibirá:</label>
        <div class="amount-input-container">
          <input type="text" id="cantidadRecibida" class="form-control amount-input" [(ngModel)]="cantidadRecibida" name="cantidadRecibida" placeholder="0,5" (input)="validateAmount($event, false)">
          <div class="currency-display">{{currencyRecibida}}</div>
        </div>
      </div>
    </div>

    <button type="submit" class="send-button btn btn-primary">Enviar Dinero</button>
  </form>

  <!-- Cuadro de Resumen -->
  <div class="resumen-container">
    <h3>Resumen</h3>
    <p><strong>Tipo de cambio:</strong> 1.00 {{currencyEnviada}} = {{factorConversion}} {{currencyRecibida}}</p>
    <p><strong>Importe de transferencia:</strong> {{cantidadEnviada}} {{currencyEnviada}}</p>
    <p><strong>Tarifa de transferencia:</strong> +{{tarifaTransferencia.toFixed(2)}} {{currencyEnviada}}</p>
    <p><strong>Total de transferencia:</strong> {{totalTransferencia}} {{currencyEnviada}}</p>
    <p><strong>El destinatario recibirá:</strong> {{cantidadRecibida}} {{currencyRecibida}}</p>
  </div>


  <!-- Modal para usuario inválido -->
  <div class="modal fade" id="invalidUserModal" tabindex="-1" aria-labelledby="invalidUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="invalidUserModalLabel">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Por favor, seleccione un destinatario válido.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para usuario inválido -->
  <div class="modal fade" id="notAContactModal" tabindex="-1" aria-labelledby="notAContactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notAContactModalLabel">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Por favor, seleccione uno de sus contactos.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para cantidad inválida -->
  <div class="modal fade" id="invalidAmountModal" tabindex="-1" aria-labelledby="invalidAmountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="invalidAmountModalLabel">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Por favor, ingrese una cantidad de dinero válida.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para cantidad menor a 0.5 -->
  <div class="modal fade" id="amountTooLowModal" tabindex="-1" aria-labelledby="amountTooLowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="amountTooLowModalLabel">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          La cantidad mínima a enviar es 0,5.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para transacción exitosa -->
  <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="transactionModalLabel">Transacción</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ modalMessage }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" data-bs-dismiss="modal" (click)="navegarATransacciones()">Consultar transacción</button>
        </div>
      </div>
    </div>
  </div>
</div>

