.page-title {
  text-align: center; /* Centrando el título de la página */
  margin-top: 30px;
  margin-bottom: 30px; /* Separación del título respecto al contenido */
  font-size: 24px; /* Tamaño del título */
  font-weight: bold; /* Resaltando el título */
}

.table {
  width: 100%;
}

.container {
  padding: 20px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.gap-3 {
  gap: 1rem;
}

.ms-auto {
  margin-left: auto;
}

.btn-link {
  color: #007bff;
  text-decoration: none;
}
.action-button {
  background-color: #1EA4D9;
  color: #FFFFFF; /* Color blanco */
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Fuente Arial */
  font-weight: bold; /* Texto en negrita */
}

.action-button:hover {
  background-color: #1e9bd9;
}
