<!-- welcome.component.html -->
<div class="main-content">
  <!-- Banner Principal -->
  <div class="banner">
    <img src="assets/Banner.jpg" alt="Banner Image" class="responsive">
    <div class="banner-text">
      <h1>Envíe Dinero de Manera Rápida, Segura y Confiable con Clean Cash Courier</h1>
      <p>Tarifas bajas y transferencias rápidas a más de 100 países</p>
      <!-- Revisar el link-->
      <button class="action-button" (click)="navegarAEnvioDinero()">Enviar Dinero</button>
      <button class="action-button">Registrarse</button>
    </div>
  </div>

  <!-- Servicios Destacados -->
  <div class="services">
    <div class="service">
      <h2>Transferencias Internacionales</h2>
      <img src="assets/international-trade.png" alt="Transferencias Internacionales" class="icon">
      <p>Envía dinero a cualquier parte del mundo de manera rápida y económica.</p>
    </div>
    <div class="service">
      <h2>Transferencias Nacionales</h2>
      <img src="assets/save-money.png" alt="Transferencias Nacionales" class="icon">
      <p>Transfiere dinero dentro del país con tarifas bajas y tiempos de entrega rápidos.</p>
    </div>
  </div>

  <!-- Beneficios y Características -->
  <div class="benefits">
    <h2 class="section-title">¿Porqué elegir Clean Cash Courier?</h2>
    <div class="benefit">
      <h2>Seguridad de Primer Nivel</h2>
      <img src="assets/cyber-security.png" alt="Seguridad" class="icon">
      <p>Protegemos tus transacciones con tecnología de cifrado de última generación.</p>
    </div>
    <div class="benefit">
      <h2>Tarifas Transparentes</h2>
      <img src="assets/bill.png" alt="Tarifas" class="icon">
      <p>Sin cargos ocultos. Conoce nuestras tarifas antes de enviar.</p>
    </div>
    <div class="benefit">
      <h2>Velocidad</h2>
      <img src="assets/deadline.png" alt="Velocidad" class="icon">
      <p>Entregas rápidas y confiables en cuestión de minutos a la mayoría de los destinos.</p>
    </div>
    <div class="benefit">
      <h2>Atención al Cliente 24/7</h2>
      <img src="assets/technical-support.png" alt="Atención al Cliente" class="icon">
      <p>Nuestro equipo de soporte está disponible las 24 horas del día, los 7 días de la semana.</p>
    </div>
  </div>

  <!-- Testimonios de Clientes -->
  <div class="testimonials">
    <h2>Testimonios de Clientes</h2>
    <div class="testimonial-columns">
      <div class="testimonial">
        <img src="assets/man.png" alt="Juan P." class="testimonial-image">
        <p>"He usado Clean Cash Courier para enviar dinero a mi familia y nunca he tenido un problema. Son rápidos y confiables." - Juan P.</p>
      </div>
      <div class="testimonial">
        <img src="assets/woman.png" alt="María G." class="testimonial-image">
        <p>"Las tarifas son muy bajas y el servicio es excelente. Muy recomendable." - María G.</p>
      </div>
    </div>
  </div>

  <!-- Llamada a la Acción -->
  <div class="cta">
    <h2>¿Listo para enviar dinero?</h2>
    <p>Regístrate ahora y comienza a disfrutar de nuestras ventajas.</p>
    <button class="action-button-CTA">Registrarse</button>
  </div>
</div>
