/* General styles */
.responsive {
  width: 100%;
  height: auto;
}

/* Banner styles */
.banner {
  position: relative;
  text-align: center;
  color: white;
}

.banner-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h1 {
  font-size: 36px;
  color: #FFFFFF;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.banner-text p {
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.action-button {
  background-color: #0fd3ec;
  color: #1A3540;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #1EA4D9;
}

/* Service styles */
.services {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  background-color: #1ea4d9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service {
  width: 48%;
  text-align: center;
}

.icon {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

/* Benefits styles */
.section-title {
  font-size: 28px;
  color: #000000;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  background-color: #ADD96A;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.benefit {
  width: 48%;
  text-align: center;
  margin-bottom: 20px;
}

/* Testimonial styles */
.testimonials {
  padding: 20px;
  margin: 20px;
  background-color: #D7D9D7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.testimonial-columns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.testimonial {
  width: 45%;
  text-align: center;
}

.testimonial-image {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* CTA styles */
.cta {
  padding: 20px;
  margin: 20px;
  background-color: #1A3540;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.cta h2,
.cta p {
  color: white; /* Cambio de color del texto a blanco */
}

.action-button-CTA {
  background-color: #84BF49;
  color: black;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.action-button-CTA:hover {
  background-color: #ADD96A;
}