<div class="tw-bg-gray-50 tw-font-[sans-serif]">
  <div class="tw-min-h-screen tw-flex tw-flex-col tw-items-center tw-justify-center tw-py-6 tw-px-4">
    <div class="tw-max-w-md tw-w-full">
      <a href="javascript:void(0)">
        <img src="assets/Logo.png" alt="logo" class="tw-w-40 tw-mb-8 tw-mx-auto tw-block" />
      </a>

      <div class="tw-p-8 tw-rounded-2xl tw-bg-white tw-shadow">
        <h2 class="tw-text-gray-800 tw-text-center tw-text-2xl tw-font-bold">Iniciar sesión</h2>
        <form class="tw-mt-8 tw-space-y-4" (ngSubmit)="authentication()">
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Nombre de usuario</label>
            <div class="relative flex items-center">
              <input name="username" type="text" required class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Introduce el nombre de usuario" [(ngModel)]="email" />
              <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4" viewBox="0 0 24 24">
              </svg>
            </div>
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block">Contraseña</label>
            <div class="relative flex items-center">
              <input name="password" type="password" required class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Introduce la contraseña" [(ngModel)]="contrase" />
              <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb" class="w-4 h-4 absolute right-4 cursor-pointer" viewBox="0 0 128 128">
            
              </svg>
            </div>
          </div>

          <div class="tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-gap-4">
            <div class="tw-flex tw-items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="tw-h-4 tw-w-4 tw-shrink-0 tw-text-blue-600 focus:tw-ring-blue-500 tw-border-gray-300 tw-rounded" />
              <label for="remember-me" class="tw-ml-3 tw-block tw-text-sm tw-text-gray-800">
                Recuérdame
              </label>
            </div>

          </div>

          <div class="tw-flex tw-justify-center tw-mt-8">
            <button type="submit" class="action-button">
              Iniciar sesión
            </button>
          </div>
          
          <p class="tw-text-gray-800 tw-text-sm !tw-mt-8 tw-text-center">
            ¿No tienes una cuenta?
            <a href="http://localhost:4200/registro" class="tw-text-blue-600 hover:tw-underline tw-ml-1 tw-whitespace-nowrap tw-font-semibold">
              Regístrate aquí
            </a>
          </p>

        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal usuario no existe -->
<div class="modal fade" id="userNoExists" tabindex="-1" aria-labelledby="userNoExistsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userNoExistsLabel">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        El usuario no existe
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal contraseña incorrecta-->
<div class="modal fade" id="incorrectPassword" tabindex="-1" aria-labelledby="incorrectPasswordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="incorrectPasswordLabel">Error</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Contraseña incorrecta
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
