<div class="tw-flex tw-items-center tw-bg-green-500 tw-p-4 tw-rounded-lg">
  <img src="assets/Logo.png" alt="Logo" class="tw-h-20 tw-mr-5 tw-cursor-pointer" routerLink="/welcome">
  <div class="tw-flex tw-items-center tw-ml-auto">
    <a routerLink="/about" class="tw-nav-item tw-text-black tw-text-lg tw-mx-2 tw-no-underline">Sobre nosotros</a>
    <a routerLink="/send-money" class="tw-nav-item tw-text-black tw-text-lg tw-mx-2 tw-no-underline">Enviar Dinero</a>
    <a routerLink="/profile" class="tw-nav-item tw-text-black tw-text-lg tw-mx-2 tw-no-underline">Perfil</a>
    <a routerLink="/contactos" class="tw-nav-item tw-text-black tw-text-lg tw-mx-2 tw-no-underline">Contactos</a>
    <a routerLink="/transaction-history" class="tw-nav-item tw-text-black tw-text-lg tw-mx-2 tw-no-underline">Registro de transacciones</a>
    <a routerLink="/login" class="tw-nav-item tw-text-black tw-text-lg tw-mx-2 tw-no-underline" (click)="cerrarSesion()">Cerrar sesión</a>
  </div>
</div>
